  <web-app>
    <servlet>
        <servlet-name>goods_cartservlet</servlet-name>
        <servlet-class>servlet.goods_cartservlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>goods_cartservlet</servlet-name>
    <url-pattern>/jsp/goods_cart</url-pattern>
    </servlet-mapping>
  </web-app>
